#mydivid{
    font-size: 25px;
}
.fontsize30{
font-size: 30px;
}
a[href*="spec"]{
    color:green;
  }
a[href^="https://dev.w3.org/html5/html-author/charref"]{
    color: blue;
}
a[href$=".org/"]{
    color: yellow;
}
a[href*="page1"]{
    color: red;
}
h1{
    background-color: gray;
}
body p{
    background-color: red;
}
div > p{
    background-color: green;
}
body > div ~ p{
    background-color: yellow;
}
body > div + p{
    background-color: pink;
}
ul{
    list-style-type: lower-alpha;
}
a:link{
    text-decoration: none;
}